.btn-primario
	padding 15px 20px
	background #1CB5D4 url('_assets/_imgs/_elements/button.png?v=3') right bottom no-repeat
	display inline-block
	text-transform uppercase
	color #FFF
	border 0
	font-size  12px;
	radius(4px)
	font-family "AntennaCondensedBold"
	position relative
	z-index 1000
.btn-primario:hover
.btn-primario:active
.btn-primario:focus
	color #FFF
	background #1CB5D4  - 30 url('_assets/_imgs/_elements/button.png?v=3') right bottom no-repeat
