.page-manifesto
	padding 0 0 300px
	background #FFF
	margin-bottom - 250px


.manifesto-box-img-1
	position relative
	height 900px
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	background-position center top
	background-attachment fixed
	margin-bottom - 200px
	.titulo-page
		padding-top 200px
		text-align right
		color #FFF
		position relative
		z-index 10
		h2
			text-transform uppercase
			font-family "AntennaThin"
			font-size 50px


.manifesto-box-img-1:before
	content ""
	position absolute
	top 0
	width 100%
	height 800px
	left 0
	z-index 2
	background url('_assets/_imgs/_elements/topo-manifesto.png') center bottom

.manifesto-box-img-1:after
	content ""
	position absolute
	bottom 0
	width 100%
	height 500px
	left 0
	z-index 1
	background url('_assets/_imgs/_elements/section-bottom-branco-right-2.png') right top
	


@media (max-width: 768px)
	.manifesto-box-img-1
		height 700px
		background-position left - 400px top
		background-attachment inherit
		.titulo-page
			padding-top 100px
			padding-right 40px
			h2
				font-size 30px
				
	.manifesto-box-img-1:before
		height 250px
		background url('_assets/_imgs/_elements/topo-manifesto.png') right bottom
	.manifesto-box-img-1:after
		height 300px







.manifesto-section-1
	padding 50px 0 50px 0
	position relative
	z-index 5
	.box-texto
		text-align right
		h2
			margin-bottom 20px
			font-size 36px
			font-family "AntennaLight"
		p
			font-size 21px
			color #999999
			line-height 35px

@media (max-width: 768px)
	.manifesto-section-1
		padding 50px 40px
		.box-texto
			h2
				font-size 30px
				font-family "AntennaThin"
			p
				font-size 14px
				line-height 20px




.manifesto-box-img-2
	height 700px
	position relative
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	background-position center center
	background-attachment fixed

.manifesto-box-img-2:after
	content ""
	position absolute
	top 0
	width 100%
	height 500px
	left 0
	z-index 1
	background url('_assets/_imgs/_elements/section-top-branco-right-2.png?v=1') center top

@media (max-width: 768px)
	.manifesto-box-img-2
		height 600px
		background-position left -200px center




.manifesto-section-2
	padding 50px 0
	position relative
	margin-bottom - 200px
	z-index 10
	.fotos
		position relative
		z-index 1
	.box-texto
		text-align right
		position relative
		top - 150px
		z-index 2
		h2
			margin-bottom 20px
			font-size 36px
			font-family "AntennaLight"
		p
			font-size 21px
			color #999999
			line-height 35px


@media (max-width: 768px)
	.manifesto-section-2
		.box-texto
			top 0
			padding 50px 40px
			h2
				font-size 30px
				font-family "AntennaThin"
			p
				font-size 14px
				line-height 20px






.manifesto-section-3
	padding 140px 0 50px 0
	.box-texto
		text-align center
		h2
			margin-bottom 20px
			font-size 36px
			font-family "AntennaLight"
		p
			font-size 21px
			color #999999
			line-height 35px

@media (max-width: 768px)
	.manifesto-section-3
		padding 140px 40px 0 40px
		.box-texto
			h2
				font-size 30px
				font-family "AntennaThin"
			p
				font-size 14px
				line-height 20px






.manifesto-section-4
	padding 50px 0 0px 0
	.fotos
		position relative
		z-index 1
	.box-texto
		position relative
		top - 50px
		z-index 2
		h2
			margin-bottom 20px
			font-size 36px
			font-family "AntennaLight"
		p
			font-size 21px
			color #999999
			line-height 35px
			

@media (max-width: 768px)
	.manifesto-section-4
		padding 50px 0
		.box-texto
			top 0
			padding 50px 40px
			h2
				font-size 30px
				font-family "AntennaThin"
			p
				font-size 14px
				line-height 20px
			

