.section-white
	width 100%
	height 100%
	background url('_assets/_imgs/triangulo-white.png') center center no-repeat
	display flex
	align-items center
	justify-content center
	.box-textos
		padding-top 50px
		position relative
		z-index 1000
		.depoimento
			padding-bottom 15px
			position relative
			p
				font-size 25px
				line-height 35px
				color #94949d
				strong
				span
					text-transform uppercase
					color #000
					font-size 12px
					line-height 20px
					display block
				span
					font-size 14px
					color #000
		.depoimento:after
			content '\2018'
			position absolute
			top -70px
			left 0
			font-size 90px
			font-family "AntennaCondensedBold"
		.texto-complementar
			color #000
			padding-top 20px
	.box-images
		position relative
		z-index 1000
		transform-style: preserve-3d
		.image
			transform: translateZ(100)
		.logo
			text-align left
			position relative
			top - 130px
			left 0
			transform: translateZ(20px)
			transition(all .5s ease-in-out)
			img
				display inline-block
	/*
	.box-images:hover
		.logo
			top - 200px
			transform: translateZ(80px)
			left 100px
	*/
	



@media (max-height: 768px)
	.topo-design-white
	.bottom-design-white
	.topo-design-black
	.bottom-design-black
		height 616px

	.section-white
		.box-textos
			.depoimento
				p
					font-size 20px
					line-height 30px
					strong
					span
						font-size 12px
						line-height 20px
					span
						font-size 14px
			.texto-complementar
				padding-top 10px



