

.mobile-texto-1
	padding 150px 50px 200px 50px
	background rgba(0,0,0,0.5)
	position relative
	.texto-1
		margin-bottom 30px
		h2
			color #FFF
			font-family "AntennaThin"
			font-size 35px
	.texto-2
		padding-left 50px
		p
			color #FFF
			line-height 20px
	.seta-design
		width 70px
		height 100px
		position absolute
		left 50%
		bottom - 10px
		margin-left -35px
		background #FFF
		radius(50px)
		z-index 10
		a
			width 70px
			height 60px
			background url('_assets/_imgs/arrow.png') center center no-repeat
			display inline-block
			position absolute
			top 0

.mobile-texto-2
	padding 50px 40px 250px
	margin-bottom -200px
	background rgba(0,0,0,0.5)
	position relative
	.texto-1
		margin-top - 330px
		width 290px
		position absolute
		left 50%
		margin-left - 145px
		h2
			color #000
			font-family "AntennaThin"
			font-size 35px
			transition(color .1s ease-in-out)
	.texto-2
		padding-left 50px
		padding-top 200px
		p
			color #FFF
			line-height 20px


.mobile-space-texto-2
	height 400px
	background #FFF
	position relative
.mobile-space-texto-2:after
	content ""
	width 100%
	height 300px
	position absolute
	top -300px
	left 0
	background url('_assets/_imgs/_elements/bottom-video.png')  left bottom no-repeat

.texto-fixed-mobile
	position fixed !important
	z-index 1000
	top 50% !important
	left 50% 
	margin-left - 145px
	margin-top - 75px !important

.texto-corret-mobile
	margin-top 0 !important



	


.mobile-texto-3
	background #FFF
	padding 0 30px 200px 30px
	margin-bottom - 260px
	h2
		font-size 30px
		font-family "AntennaThin"


.mobile-empresas
	padding 340px 10px
	margin-bottom - 200px
	background url('_assets/_imgs/triangulo-black-mobile.png') center top no-repeat
	h3
		color #FFF
		font-size 18px
		text-align center
		padding-bottom 20px
	.itens
		overflow hidden
		position relative
		.item
			float left
			width 33.333333%
			padding 4px
			position relative
			.logo-empresa
				border 1px #FFF solid
				padding 30px 10px
				text-align center
				display block
				img
					height 25px
					display inline-block
		.item:after
			content ""
			width 100%
			height 100%
			background transparent
			position absolute
			top 0
			left 0

.mobile-texto-final
	padding 0 30px 200px 30px
	background #FFF
	position relative
	z-index 100
	margin-bottom - 130px
	.texto-1
		margin-bottom 30px
		h2
			font-size 30px
			font-family "AntennaThin"
	.btn-primario
		width 100%
		text-align center
		
.logo-people-mobile
	background url('_assets/_imgs/bg-rodape.png') right top no-repeat
	height 150px
	width 100%
	position relative
	z-index 1000
	.people
		position absolute
		bottom 30px
		right 30px

.topo-design-white-mobile
.bottom-design-white-mobile
.topo-design-black-mobile
.bottom-design-black-mobile
	height 200px
	width 100%
	z-index 500
	position relative

.topo-design-white-mobile
	background url('_assets/_imgs/triangulo-white.png') top left no-repeat
.bottom-design-white-mobile
	background url('_assets/_imgs/triangulo-white.png') center right no-repeat
.topo-design-black-mobile
	background url('_assets/_imgs/triangulo-black.png') center top no-repeat
.bottom-design-black-mobile
	background url('_assets/_imgs/triangulo-black.png') center top no-repeat