radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
	
radiusmaster(a,b,c,d)
	-webkit-border-top-left-radius a
	-moz-border-radius-topleft a
	border-top-left-radius a
	-webkit-border-top-right-radius b
	-moz-border-radius-topright b
	border-top-right-radius b
	-webkit-border-bottom-left-radius c
	-moz-border-radius-bottomleft c
	border-bottom-left-radius c
	-webkit-border-bottom-right-radius d
	-moz-border-radius-bottomright d
	border-bottom-right-radius d

transition(n)
	-o-transition n
	-moz-transition n
	-webkit-transition n

opacity(n)
	-moz-opacity n
	-khtml-opacity n
	opacity n

shadow(n)
	-webkit-box-shadow n
	-moz-box-shadow n
	box-shadow n

bgGradiente(a,b)
	background-image: linear-gradient(to bottom, a, b);


bgGradiente2(a,b)
	background-image: linear-gradient(to right, a, b);

rotation(n)
	-ms-transform: rotate(n)
	-webkit-transform: rotate(n)
	transform: rotate(n)


noselect()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none