@font-face {
    font-family: 'AntennaBold';
    src: url('_assets/_fonts/AntennaBold.eot');
    src: url('_assets/_fonts/AntennaBold.eot') format('embedded-opentype'),
         url('_assets/_fonts/AntennaBold.woff2') format('woff2'),
         url('_assets/_fonts/AntennaBold.woff') format('woff'),
         url('_assets/_fonts/AntennaBold.ttf') format('truetype'),
         url('_assets/_fonts/AntennaBold.svg#AntennaBold') format('svg');
}
@font-face {
    font-family: 'AntennaCondensedBold';
    src: url('_assets/_fonts/AntennaCondensedBold.eot');
    src: url('_assets/_fonts/AntennaCondensedBold.eot') format('embedded-opentype'),
         url('_assets/_fonts/AntennaCondensedBold.woff2') format('woff2'),
         url('_assets/_fonts/AntennaCondensedBold.woff') format('woff'),
         url('_assets/_fonts/AntennaCondensedBold.ttf') format('truetype'),
         url('_assets/_fonts/AntennaCondensedBold.svg#AntennaCondensedBold') format('svg');
}
@font-face {
    font-family: 'AntennaThin';
    src: url('_assets/_fonts/AntennaThin.eot');
    src: url('_assets/_fonts/AntennaThin.eot') format('embedded-opentype'),
         url('_assets/_fonts/AntennaThin.woff2') format('woff2'),
         url('_assets/_fonts/AntennaThin.woff') format('woff'),
         url('_assets/_fonts/AntennaThin.ttf') format('truetype'),
         url('_assets/_fonts/AntennaThin.svg#AntennaThin') format('svg');
}
@font-face {
    font-family: 'AntennaLight';
    src: url('_assets/_fonts/AntennaLight.eot');
    src: url('_assets/_fonts/AntennaLight.eot') format('embedded-opentype'),
         url('_assets/_fonts/AntennaLight.woff2') format('woff2'),
         url('_assets/_fonts/AntennaLight.woff') format('woff'),
         url('_assets/_fonts/AntennaLight.ttf') format('truetype'),
         url('_assets/_fonts/AntennaLight.svg#AntennaLight') format('svg');
}
